<% if user_signed_in? %>
  <li>
  <%= link_to(image_tag('logout.png'), destroy_user_session_path, :method=>'delete') %>        
  </li>
<% else %>
  <li>
  <%= link_to(image_tag('login.png'), new_user_session_path)  %>  
  </li>
<% end %>
<%= image_tag 'pipe.png' %>
<% if user_signed_in? and controller.action_name != 'edit' %>
  <li>
  <%= link_to(image_tag('edit_account.png'), edit_user_registration_path) %>
  </li>
<% elsif user_signed_in? and controller.action_name == 'edit' %>
  <li>
  <%= link_to(image_tag('run_machine.png'), root_path) %>
  </li>
<% else %>
  <li>
  <%= link_to(image_tag('sign_up.png'), new_user_registration_path)  %>
  </li>
<% end %>

