<% if user_signed_in? %>
  <li>
  <%= link_to(image_tag('logout.png', alt: 'Logout'), destroy_user_session_path, title: 'Logout', method: 'delete') %>        
  </li>
<% else %>
  <li>
  <%= link_to(image_tag('login.png'), new_user_session_path, title: 'Login')  %>  
  </li>
<% end %>
<%= image_tag 'pipe.png' %>

<% if user_signed_in? and controller.action_name != 'edit' and controller.action_name != 'update' %>
  <li>
  <%= link_to(image_tag('edit_account.png'), edit_user_registration_path, title: 'Edit account') %>
  </li>
<% elsif !user_signed_in? %>
  <li>
  <%= link_to(image_tag('sign_up.png', alt: 'Sign up'), new_user_registration_path, title: 'Sign up')  %>
  </li>
<% end %>
<% if user_signed_in? and controller.action_name != 'setup' %>
  <li>
  <%= link_to(image_tag('restart_machine.png'), machine_setup_path, title: 'Restart machine') %>
  </li>
<% end %>

