<div class="centerbox_sm clear">
  <div class="signin">
<%= image_tag 'sign_in_title.png', class: 'center' %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>

  <div>
    <% if devise_mapping.rememberable? -%>
      <div class="sm_txt center"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
    <% end -%>
  </div>
  <div>
    <%= f.submit "Sign in" %>
  </div>
  <div class="clear"></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
</div>
